<nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Companies', companies_path, class: "" %>
          </li>
          <li>
            <%= link_to 'Policies', policies_path, class: "" %>
          </li>
          <li>
            <%= link_to 'Employees', employees_path, class: "" %>
          </li>
          <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete , class: "btn btn-primary" %>
          </li>
        <% else %>
          <li class="nav-item">
          <%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %>
          </li>
        <% end %>
      </a>
    </li>
  </ul>
</nav>
