<div  class="card-body">
  <%= form_with(model: company, local: true) do |f| %>

    <%= form_group_for f, :name  do %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    <% end %>

    <div class="actions mt-2">
      <%= f.submit class:'btn btn-primary' %>
      <%= link_to "Back", companies_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
